@page "/regions"
@page "/regions/{PageNumber:int}"

@inherits PaginationBase
@using EveEchoesPlanetaryProductionApi.Api.Models.Regions.GetRegions
@using EveEchoesPlanetaryProductionApi.Common
@using EveEchoesPlanetaryProductionApi.Web.Services

@inject IEveApiService eveApiService
@inject IAppDataService appDataService
@inject NavigationManager navigation

<section class="container mb-5">
    @if (this.Regions is not null)
    {
        <ListingTableComponent Data="(this.Regions)" Location="@("region")"></ListingTableComponent>

        <Paginator Page="@(this.PageNumber)"
                   TotalPages="@this.TotalPages"
                   Radius="3"
                   SelectedPage="this.ChangePage" />
    }
    else
    {
        <Loader></Loader>
    }
</section>

@code {
    private IEnumerable<RegionListingModel> Regions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.NavigationManager = this.navigation;
        this.Location = "regions";

        await base.OnInitializedAsync();
    }

    protected override async Task LoadData()
    {
        this.Regions = await this.eveApiService.Regions.GetPageAsync(this.PageNumber);

        var totalRegions = this.appDataService.RegionsCount ?? await this.eveApiService.Regions.GetCountAsync();
        this.appDataService.RegionsCount ??= totalRegions;

        this.TotalPages = (int)Math.Ceiling(totalRegions / (double)GlobalConstants.Ui.RegionsPageSize);
    }
}
