@page "/region/best"
@page "/region/best/{RegionId:long}"

@using EveEchoesPlanetaryProductionApi.Api.Models.Regions.GetSimpleDetails
@using EveEchoesPlanetaryProductionApi.Services.Models.EveEchoesMarket
@using EveEchoesPlanetaryProductionApi.Web.Services

@inherits BestSystemBase

@inject IEveApiService eveApiService;
@inject NavigationManager navigationManager;
@inject IJSRuntime JS;

<div class="container">
    <section class="row">
        <CardComponent>
            <h3 class="card-title">Region: @this.RegionDetails?.Name</h3>

            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <PriceSelectorComponent OnChange="this.OnPriceSelectorChangeHandler"></PriceSelectorComponent>
                </div>
                <div class="col-md-5 align-self-center">
                    <SelectComponent Label="Colonies" OnChange="this.OnPlanetsChangeHandler"></SelectComponent>
                </div>
            </div>

            @if (this.PriceSelector is PriceSelector.UserProvided)
            {
                <InputPrices OnChange="this.OnInputPriceChangeHandler"></InputPrices>
            }
            
            @if (this.BestSystems is not null)
            {
                <h2 class="card-title my-4">Best Systems In Constellation</h2>
                <AccordionSystemsComponent Systems="this.BestSystems"></AccordionSystemsComponent>
            }
            else
            {
                if (this.ShowLoader)
                {
                    <Loader></Loader>
                }
            }
        </CardComponent>
    </section>
</div>

@code {

    [Parameter]
    public long RegionId { get; set; }

    private RegionSimpleDetailsModel RegionDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.RegionId = this.RegionId == 0 ? this.AppDataService.CurrentSolarSystem?.RegionId ?? 0 : this.RegionId;

        if (this.RegionId <= 0)
        {
            this.navigationManager.NavigateTo("/404");
            return;
        }

        this.navigationManager.NavigateTo($"/region/best/{this.RegionId}");

        this.RegionDetails = await this.eveApiService.Regions.GetSimpleDetailsAsync(this.RegionId);

        await base.OnInitializedAsync();
    }

    protected override async Task LoadData()
    {
        this.CreateInputModelFromUserInput();

        this.BestSystems = (await this.eveApiService.Regions.GetBestSystemsInRegion(this.RegionId, this.UserInput)).Systems.ToList();

        this.StateHasChanged();
        await this.JS.InvokeAsync<Task>("addAccordionOnClickHandlers");
    }
}
