@inherits LayoutComponentBase

@layout MainLayout

<div class="container">
    <div class="row">
        <SystemCardComponent>
            @(this.Body)
        </SystemCardComponent>
    </div>
</div>