<div style="height: 100px"></div>
    
<footer>
    <div class="footer text-center">
        <p>
            <i class="material-icons tiny">&copy;</i> 2020 - @DateTime.UtcNow.Year Echoes Industries - All right reserved <a href="mailto: admin@echoesindustries.com">admin@echoesindustries.com</a>
        </p>
    </div>
</footer>
