@inherits LayoutComponentBase

@layout MainLayout

<div class="container">
    <section class="row">
        <ResourceCardComponent>
            @(this.Body)
        </ResourceCardComponent>
    </section>
</div>
