<div class="card text-center mx-auto" style="width: 100%">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <NavLink class="nav-link" href=@($"details/") ActiveClass="active" Match="NavLinkMatch.Prefix">System Details</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"best/")" ActiveClass="active" Match="NavLinkMatch.Prefix">Best Resources In System</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"constellation/best")" ActiveClass="active" Match="NavLinkMatch.Prefix">Best System In Constellation</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"region/best")" ActiveClass="active" Match="NavLinkMatch.Prefix">Best System In Region</NavLink>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @(this.ChildContent)
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
