@page "/resources/details"

@using EveEchoesPlanetaryProductionApi.Api.Models.PlanetaryResources.GetResources
@using EveEchoesPlanetaryProductionApi.Web.Services

@inject IEveApiService eveApiService;

<div class="container">
    <section class="row">
        <ResourceCardComponent>
            @if (this.Resources is not null)
            {
                <ResourcesTable Resources="this.Resources"></ResourcesTable>
            }
            else
            {
                <Loader></Loader>
            }
        </ResourceCardComponent>
    </section>
</div>

@code
{
    private IEnumerable<PlanetaryResource> Resources { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Resources = await this.eveApiService.PlanetaryResources.GetPlanetaryResourcesCurrentPrices();
    }
}
