/*For input styles*/
.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99a3ba;
    border: 1px solid #626D78;
    background: #fff;
    transition: border 0.3s ease;
}

.form-field:focus {
    outline: none;
    border-color: #343A40;
}

.form-field::placeholder {
    color: #CBD1DC;
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}

.form-group > label, .form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group > label:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group > label:first-child, .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group > label:last-child, .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group > label:not(:first-child), .form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group > label {
    text-align: center;
    padding: 8px 12px;
    margin-bottom: 0;
    width: 150px;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    background: #7A8793;
    border: 1px solid #626D78;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within > label {
    color: #fff;
    background: #56606A;
    border-color: #343A40;
}

/*Accordion styles*/
.accordion {
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.inner-table {
    border: none;
}

.inner-table-heading {
    background-color: white !important;
}


a {
    color: inherit;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px #000000;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    /*height: 320px;*/
    margin: auto;
    /*max-width: 600px;*/
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px #000000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px #ffffff;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover > td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover > td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px #000000;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

