@page "/systems"
@page "/systems/{PageNumber:int}"

@inherits PaginationBase

@using EveEchoesPlanetaryProductionApi.Api.Models.Constellations
@using EveEchoesPlanetaryProductionApi.Api.Models.SolarSystems.GetSystems
@using EveEchoesPlanetaryProductionApi.Common
@using EveEchoesPlanetaryProductionApi.Web.Components
@using EveEchoesPlanetaryProductionApi.Web.Services

@inject IEveApiService eveApiService
@inject IAppDataService appDataService
@inject NavigationManager navigation

<section class="container mb-5">
    @if (this.Systems is not null)
    {
        <ListingTableComponent Data="(this.Systems)" Location=@("system")></ListingTableComponent>

        <Paginator Page="@(this.PageNumber)"
                   TotalPages="@this.TotalPages"
                   Radius="3"
                   SelectedPage="this.ChangePage" />
    }
    else
    {
        <Loader></Loader>
    }

    
</section>

@code {

    private IEnumerable<SolarSystemListingModel> Systems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.NavigationManager = this.navigation;
        this.Location = "systems";

        await base.OnInitializedAsync();
    }

    protected override async Task LoadData()
    {
        this.Systems = await this.eveApiService.Systems.GetPageAsync(this.PageNumber);

        var totalSystems = this.appDataService.SolarSystemCount ?? await this.eveApiService.Systems.GetCountAsync();
        this.appDataService.SolarSystemCount ??= totalSystems;

        this.TotalPages = (int)Math.Ceiling(totalSystems / (double)GlobalConstants.Ui.RegionsPageSize);
    }
}
