@page "/"
@page "/index.html"

@using EveEchoesPlanetaryProductionApi.Api.Models
@using EveEchoesPlanetaryProductionApi.Services.Data.Models.SolarSystems.GetSolarSystemById
@using EveEchoesPlanetaryProductionApi.Web.Components
@using EveEchoesPlanetaryProductionApi.Web.Components.SolarSystems
@using EveEchoesPlanetaryProductionApi.Web.Components.Loaders
@using EveEchoesPlanetaryProductionApi.Web.Services

@inject IEveApiService eveApiService;

<div class="container">
    <section class="row">
        @if (this.randomSolarSystem is null)
        {
            <SolarSystemLoader></SolarSystemLoader>
        }
        else
        {
            <SolarSystemDetails SolarSystem="this.randomSolarSystem"></SolarSystemDetails>
        }
    </section>
</div>

<EveInfo RegionsCount="this.regionsCount" ConstellationsCount="this.constellationsCount" SolarSystemCount="this.solarSystemCount"></EveInfo>

@code
{
    private int regionsCount;
    private int constellationsCount;
    private int solarSystemCount;

    private SolarSystemServiceModel randomSolarSystem;

    protected override async Task OnInitializedAsync()
    {
        this.regionsCount = await this.eveApiService.GetRegionsCountAsync();

        this.constellationsCount = await this.eveApiService.GetConstellationsCountAsync();

        this.solarSystemCount = await this.eveApiService.GetSolarSystemsCountAsync();

        this.randomSolarSystem = await this.eveApiService.GetRandomSolarSystemAsync();
    }
}
